/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  font-family: 'Roboto', sans-serif;
  color: #262626;
  font-size: 16px;
  line-height: 1.15;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}

.bg-wrapper {
  max-width: 1900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1899px) {
  .bg-wrapper {
    max-width: 1430px;
  }
  .bg-wrapper .container {
    width: 1400px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
}

.badge-round {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  height: 29px;
  border-radius: 15px;
  background-color: #CA0100;
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  color: #FFF;
}
.badge-round.middle {
  padding-left: 6px;
  padding-right: 6px;
  height: 19px;
  line-height: 19px;
  border-radius: 10px;
}
.badge-round.small {
  position: absolute;
  top: -8px;
  right: -12px;
  padding-left: 4px;
  padding-right: 4px;
  height: 14px;
  line-height: 14px;
  border-radius: 10px;
  font-size: 12px;
  outline: 3px solid #FFF;
}

.icon-favourite,
.icon-compare {
  fill: #FFF;
  stroke: #737373;
  cursor: pointer;
  transition: fill .2s ease-in, stroke .2s ease-in;
}
.icon-favourite:hover,
.icon-compare:hover {
  fill: #CA0100;
  stroke: #CA0100;
}
.icon-favourite:active,
.icon-compare:active {
  fill: #750000;
  stroke: #750000;
}

.icon-search {
  fill: #FFF;
  stroke: #737373;
  transition: stroke .2s ease-in;
}
.icon-search:hover {
  stroke: #CA0100;
}
.icon-search:active {
  stroke: #750000;
}

.icon-round-red-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #CA0100;
}
.icon-round-red-wrapper svg {
  fill: #FFF;
}

.button {
  display: block;
  height: 65px;
  background-color: #CA0100;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 65px;
  color: #FFF;
  text-transform: uppercase;
  transition: background-color .2s ease-in;
}
.button:hover {
  background-color: #A90100;
}
.button:active {
  background-color: #750000;
}
.button.h50 {
  height: 50px;
  line-height: 50px;
  padding-left: 28px;
  padding-right: 28px;
}
.button.h40 {
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-transform: none;
}
.button.p95 {
  padding-left: 95px;
  padding-right: 95px;
}
.button.p80 {
  padding-left: 80px;
  padding-right: 80px;
}
.button.p20 {
  padding-left: 20px;
  padding-right: 20px;
}
.button.bg-gray {
  background-color: rgba(194, 194, 196, 0.5);
  color: unset;
}
.button.bg-gray:hover {
  background-color: rgba(155, 155, 155, 0.5);
}
.button.bg-gray:active {
  background-color: rgba(110, 110, 110, 0.5);
}
.button.wmax {
  width: 100%;
}

.badge-button {
  display: inline-block;
  height: 35px;
  border-radius: 11px;
  background-color: #CA0100;
  font-size: 16px;
  line-height: 35px;
  color: #FFF;
  text-align: center;
  transition: background-color .2s ease-in;
}
.badge-button.p15 {
  padding-left: 15px;
  padding-right: 15px;
}
.badge-button.p25 {
  padding-left: 25px;
  padding-right: 25px;
}
.badge-button:hover {
  background-color: #A90100;
}
.badge-button:active {
  background-color: #750000;
}

.double-range-input {
  width: 100%;
  margin-bottom: 20px;
}

.double-range-input__values-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6px;
}
.double-range-input__values-wrapper .double-range-input__dimension {
  font-size: 16px;
  line-height: 1.19;
}
.double-range-input__values-wrapper .double-range-input__values {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}

.double-range-input__track-wrapper {
  position: relative;
  height: 14px;
}
.double-range-input__track-wrapper .double-range-input__track {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #E1E1E1;
}
.double-range-input__track-wrapper input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  background-color: transparent;
  outline: none;
  pointer-events: none;
}
.double-range-input__track-wrapper input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
}
.double-range-input__track-wrapper input[type="range"]::-moz-range-track {
  -moz-appearance: none;
}
.double-range-input__track-wrapper input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border: none;
  border-radius: 7px;
  background-color: #CA0100;
  transform: translateY(calc((6px - 14px) / 2));
  pointer-events: auto;
  cursor: pointer;
}
.double-range-input__track-wrapper input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  border: none;
  border-radius: 7px;
  background-color: #CA0100;
  pointer-events: auto;
  cursor: pointer;
}

.double-range-input__scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;
  color: #ADADB0;
}
.double-range-input__scale li {
  position: relative;
  padding-top: 13px;
}
.double-range-input__scale li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 8px;
  width: 1px;
  background-color: #E1E1E1;
}
.double-range-input__scale li:first-child::after {
  left: 0;
}
.double-range-input__scale li:last-child::after {
  left: 100%;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 65px;
  background-color: #FFF;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  font-size: 14px;
  line-height: 63px;
  text-align: left;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url("./../img/general/arrow-down.svg");
  transform: translate(-20px, -50%);
}
.dropdown__button--medium {
  padding-left: 20px;
  padding-right: 20px;
  height: 46px;
  font-size: 16px;
  line-height: 46px;
}
.dropdown__button--small {
  height: 40px;
  border-radius: 9px;
  font-size: 16px;
  line-height: 40px;
}
.dropdown__button--dark {
  background: rgba(89, 93, 96, 0.4);
  border: 1px rgba(89, 93, 96, 0.4);
  color: #FFF;
}
.dropdown__button:focus {
  outline: none;
  border: 1px solid #C2C2C4;
}
.dropdown__button.dropdownButton--active {
  outline: none;
  border: 1px solid #C2C2C4;
}
.dropdown__button.dropdownButton--active::after {
  transform: translate(-20px, -50%) rotate(180deg);
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 5px));
  padding: 12px 15px;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.2;
}
.dropdown__list--medium {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}
.dropdown__list--visible {
  display: block;
}
.dropdown__list li {
  margin-left: -8px;
  margin-right: -8px;
  padding: 5px 8px;
  cursor: pointer;
}
.dropdown__list li + li {
  margin-top: 10px;
}
.dropdown__list li:hover {
  background-color: #EFF0F0;
  border-radius: 5px;
}

.dropdown__input-hidden {
  display: none;
}

.input {
  padding: 25px 20px;
  height: 65px;
  border: 1px solid #EFF0F0;
  background-color: #FFF;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.19;
}
.input:focus {
  outline: none;
  border: 1px solid #C2C2C4;
}
.input.h50 {
  height: 50px;
  border-radius: 5px;
}
.input.bg-gray {
  border: 1px solid #E1E1E1;
  background-color: #EFF0F0;
}
.input.bg-gray:focus {
  border: 1px solid #CA0100;
}
.input.wmax {
  width: 100%;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;
  cursor: pointer;
}
.nav-icon .nav-icon__stripe {
  position: relative;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #262626;
  transition: background-color 0s linear .2s;
}
.nav-icon .nav-icon__stripe::before, .nav-icon .nav-icon__stripe::after {
  content: "";
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #262626;
  position: absolute;
  left: 0;
  transition: transform .2s ease-in, top .2s ease-in .2s;
}
.nav-icon .nav-icon__stripe::before {
  top: -10px;
}
.nav-icon .nav-icon__stripe::after {
  top: 10px;
}
.nav-icon.active .nav-icon__stripe {
  background-color: transparent;
}
.nav-icon.active .nav-icon__stripe::before, .nav-icon.active .nav-icon__stripe::after {
  top: 0px;
  transition: top .2s ease-in, transform .2s ease-in .2s;
}
.nav-icon.active .nav-icon__stripe::before {
  transform: rotate(45deg);
}
.nav-icon.active .nav-icon__stripe::after {
  transform: rotate(-45deg);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  z-index: 9;
}

.single-range-input {
  width: 100%;
}

.single-range-input__value-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.single-range-input__value-wrapper .single-range-input__dimension {
  font-size: 16px;
  line-height: 1.19;
}
.single-range-input__value-wrapper .single-range-input__value {
  font-size: 36px;
  line-height: 1.17;
  text-align: right;
}

.single-range-input__track-wrapper {
  position: relative;
  height: 14px;
}
.single-range-input__track-wrapper .single-range-input__track {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #E1E1E1;
}
.single-range-input__track-wrapper input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  background-color: transparent;
  outline: none;
  pointer-events: none;
}
.single-range-input__track-wrapper input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
}
.single-range-input__track-wrapper input[type="range"]::-moz-range-track {
  -moz-appearance: none;
}
.single-range-input__track-wrapper input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border: none;
  border-radius: 7px;
  background-color: #CA0100;
  transform: translateY(calc((6px - 14px) / 2));
  pointer-events: auto;
  cursor: pointer;
}
.single-range-input__track-wrapper input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  border: none;
  border-radius: 7px;
  background-color: #CA0100;
  pointer-events: auto;
  cursor: pointer;
}

.single-range-input__scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;
  color: #ADADB0;
}
.single-range-input__scale li {
  position: relative;
  padding-top: 13px;
}
.single-range-input__scale li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 8px;
  width: 1px;
  background-color: #E1E1E1;
}
.single-range-input__scale li:first-child::after {
  left: 0;
}
.single-range-input__scale li:last-child::after {
  left: 100%;
}

.credit-calc__range .credit-calc__range-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
}
.credit-calc__range .credit-calc__range-label span:first-child {
  font-size: 16px;
  line-height: 1.19;
}
.credit-calc__range .credit-calc__range-label span:last-child {
  font-size: 36px;
  line-height: 1.17;
}
.credit-calc__range .credit-calc__range-strip {
  margin-bottom: 13px;
  border: 6px solid #E1E1E1;
}
.credit-calc__range .credit-calc__range-scale {
  margin-bottom: 19px;
}
.credit-calc__range .credit-calc__range-scale-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;
  color: #ADADB0;
}
.credit-calc__range li {
  position: relative;
  padding-top: 13px;
}

.slider {
  position: relative;
}
.slider .slider__controls {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(calc(-100% - 50px));
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}
.slider .slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #EFF0F0;
  border-radius: 6px;
  transition: background-color .2s ease-in;
}
.slider .slider__btn .icon-arrow-left,
.slider .slider__btn .icon-arrow-right {
  transition: fill .2s ease-in;
}
.slider .slider__btn:hover {
  background-color: #CA0100;
}
.slider .slider__btn:hover .icon-arrow-left,
.slider .slider__btn:hover .icon-arrow-right {
  fill: #FFF;
}
.slider .slider__btn:active {
  background-color: #750000;
}

.h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.17;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.18;
}

.h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17;
}

.popup-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

.auto-card {
  position: relative;
  padding: 25px;
  width: 446px;
  height: 449px;
  border: 1px solid #E1E1E1;
  border-radius: 25px;
  background-image: url("./../img/section-stock/background.png");
  background-repeat: no-repeat;
  background-position: top 34px right 0;
}
.auto-card::after {
  content: "";
  position: absolute;
  top: 135px;
  right: 25px;
  width: 273px;
  height: 152px;
  background-image: url("./../img/section-stock/car.png");
  background-repeat: no-repeat;
}

.auto-card__content {
  position: relative;
  z-index: 9;
}

.auto-card__title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
  margin-bottom: 20px;
}

.auto-card__title {
  max-width: 330px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.19;
  text-transform: capitalize;
}
.auto-card__title span {
  display: block;
}

.auto-card__icons {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.auto-card__badge-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 11px;
}

.auto-card__badge {
  padding-left: 15px;
  padding-right: 22px;
  width: 160px;
  height: 28px;
  background-image: url("./../img/section-stock/bg-arrow-red-small.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 28px;
  color: #FFF;
}

.auto-card__badge-notice {
  max-width: 75px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #CA0100;
}

.auto-card__bonus-list {
  margin-bottom: 20px;
}
.auto-card__bonus-list li {
  position: relative;
  padding-left: 41px;
  max-width: 140px;
  font-size: 13px;
  line-height: 1.15;
}
.auto-card__bonus-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #262626;
  background-image: url("./../img/section-stock/gift.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.auto-card__bonus-list li:not(:last-child) {
  margin-bottom: 10px;
}
.auto-card__bonus-list li span {
  display: block;
  color: #CA0100;
}

.auto-card__price-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.auto-card__price-row .auto-card__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}
.auto-card__price-row .auto-card__loan {
  font-size: 16px;
  line-height: 1;
}

.auto-card__params {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 7px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
}
.auto-card__params li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: calc((100% - 21px) / 4);
  height: 31px;
  border-radius: 16px;
  border: 1px solid rgba(194, 194, 196, 0.57);
  line-height: 29px;
}

.auto-card__buttons-row {
  position: relative;
}

.auto-card__button {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}
.auto-card__button.red {
  left: 0;
  width: 132px;
  z-index: 3;
}
.auto-card__button.red svg {
  fill: #CA0100;
  transition: fill .2s ease-in;
}
.auto-card__button.red:hover svg, .auto-card__button.red:active svg {
  fill: #A90100;
}
.auto-card__button.black {
  left: 105px;
  width: 159px;
  z-index: 2;
}
.auto-card__button.black svg {
  fill: #262626;
  transition: fill .2s ease-in;
}
.auto-card__button.black:hover svg, .auto-card__button.black:active svg {
  fill: #000;
}
.auto-card__button.gray {
  left: 231px;
  width: 165px;
  z-index: 1;
}
.auto-card__button.gray svg {
  fill: #737373;
  transition: fill .2s ease-in;
}
.auto-card__button.gray:hover svg, .auto-card__button.gray:active svg {
  fill: #595D60;
}
.auto-card__button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #FFF;
  white-space: nowrap;
}

.collection-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 23px 28px 23px 33px;
  width: 447px;
  height: 317px;
  border-radius: 25px;
  overflow: hidden;
}
.collection-card img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.collection-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.collection-card__title {
  max-width: 160px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #FFF;
}

.collection-card__button {
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  background: #CA0100;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #FFF;
}

.offer-card {
  position: relative;
  padding: 29px 25px 25px;
  width: 447px;
  height: 196px;
  border-radius: 25px;
  background: #EFF0F0;
  overflow: hidden;
}

.offer-card__background {
  position: absolute;
  top: 0;
  right: 0;
}

.offer-card__content {
  position: relative;
  height: 100%;
  z-index: 9;
}
.offer-card__content .offer-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
.offer-card__content .offer-card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #737373;
}
.offer-card__content .offer-card__button {
  position: absolute;
  left: 0;
  bottom: 0;
}

.bank-card {
  padding: 30px 62px;
  width: 327px;
  height: 133px;
  border-radius: 10px;
  background-color: #EFF0F0;
}
.bank-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rating-site-card {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  padding: 23px 22px 27px;
  width: 327px;
  height: 145px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(38, 38, 38, 0.15);
}

.rating-site-card__title {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
}

.rating-site-card__link {
  font-size: 18px;
  line-height: 1.17;
}

a.rating-site-card__link,
a.rating-map-card__link {
  color: #ADADB0;
}

.rating-site-card__rating {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.rating-site-card__stars {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.rating-map-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 684px;
  height: 145px;
  background: rgba(239, 240, 240, 0.5);
  border-radius: 10px;
  padding: 33px 36px 36px 54px;
}

.rating-map-card__logo {
  margin-bottom: 5px;
}

.rating-map-card__link {
  display: block;
  font-size: 18px;
  line-height: 1.17;
}

.rating-map-card__rating {
  display: flex;
  align-items: center;
  column-gap: 46px;
}

.rating-map-card__stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.rating-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
}

.rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1px;
}

.rating-badge {
  padding-left: 30px;
  padding-right: 30px;
  height: 73px;
  border-radius: 10px;
  background-color: #55BC6B;
  font-size: 43px;
  line-height: 73px;
  color: #FFF;
}
.rating-badge--small {
  padding-left: 5px;
  padding-right: 5px;
  height: 24px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
}

.review-card {
  width: 447px;
}

.review-card__video {
  position: relative;
  width: 100%;
  height: 291px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}
.review-card__video::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 164px;
  height: 164px;
  background-image: url("./../img/section-reviews/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  pointer-events: none;
}
.review-card__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-card__content {
  width: 100%;
  padding: 32px 23px 39px 30px;
  background-color: #F2F2F2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.review-card__content.active {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.review-card__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-transform: capitalize;
}

.review-card__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #737373;
}

.review-card__readmore {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
  width: 188px;
  border-radius: 20px;
  background-color: #E1E1E1;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  transition: background-color .2s ease-in;
}
.review-card__readmore::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 12px;
  height: 12px;
  background-image: url("./../img/general/arrow-down.svg");
  transform: translateY(-50%);
}
.review-card__readmore:hover {
  background-color: #C2C2C4;
}
.review-card__readmore.active {
  background-color: #EFF0F0;
}
.review-card__readmore.active:hover {
  background-color: #E1E1E1;
}
.review-card__readmore.active::after {
  transform: rotate(180deg) translateY(50%);
}

.blog-card {
  width: 328px;
}

.blog-card__image {
  margin-bottom: 23px;
  border-radius: 25px;
  overflow: hidden;
}
.blog-card__image img {
  width: 100%;
  height: 202px;
  object-fit: cover;
}

.blog-card__date {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.14;
  color: #ADADB0;
}

.blog-card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}
.blog-card__title:hover, .blog-card__title:active {
  color: #CA0100;
  text-decoration: underline;
}

.select-form {
  width: 490px;
}

.select-form__title {
  margin-bottom: 22px;
}

.select-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.select-form__row > .dropdown {
  width: calc(50% - 15px / 2);
}
.select-form__row + .select-form__row {
  margin-bottom: 25px;
}

.credit-calc {
  width: 923px;
}
@media (max-width: 1899px) {
  .credit-calc {
    width: 875px;
  }
}

.credit-calc__first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 23px;
  height: 92px;
  background: rgba(194, 194, 196, 0.5);
  border-radius: 25px;
}
.credit-calc__first-row .dropdown {
  width: calc((100% - 36px) / 3);
}

.credit-calc__second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 52px;
  margin-bottom: 25px;
}
@media (max-width: 1899px) {
  .credit-calc__second-row {
    column-gap: 28px;
  }
}

.credit-calc__img {
  margin-bottom: 25px;
  width: 424px;
}
@media (max-width: 1899px) {
  .credit-calc__img {
    width: 400px;
  }
}
.credit-calc__img img {
  width: 100%;
  height: 243px;
  object-fit: cover;
}
@media (max-width: 1899px) {
  .credit-calc__img img {
    height: 229px;
  }
}

.credit-calc__inputs {
  width: 446px;
}

.credit-calc__third-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 52px;
}
@media (max-width: 1899px) {
  .credit-calc__third-row {
    column-gap: 28px;
  }
}

.credit-calc__progress-bar {
  width: 424px;
}
@media (max-width: 1899px) {
  .credit-calc__progress-bar {
    width: 400px;
  }
}

.progress-bar {
  width: 100%;
}

.progress-bar__values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.progress-bar__values span {
  display: inline-block;
  width: 78px;
  height: 23px;
  background-color: #ADADB0;
  border-radius: 30px;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFF;
}

.progress-bar__track {
  width: 100%;
  height: 6px;
  background-color: #E1E1E1;
}

.progress-bar__labels {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding-bottom: 14px;
}
.progress-bar__labels span {
  font-size: 16px;
  line-height: 1.19;
  color: #ADADB0;
}
.progress-bar__labels span:first-child {
  text-align-last: left;
}
.progress-bar__labels span:last-child {
  text-align-last: right;
}

.credit-calc__fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 446px;
}
.credit-calc__fee label {
  max-width: 150px;
  font-size: 16px;
  line-height: 1.19;
}
.credit-calc__fee input {
  width: 250px;
}

.credit-offer {
  width: 447px;
  padding: 41px 30px 78px;
  background: #FFF;
  border-radius: 25px;
}
@media (max-width: 1899px) {
  .credit-offer {
    width: 425px;
  }
}

.credit-offer__title {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.13;
}
.credit-offer__title span {
  display: block;
  color: #CA0100;
}

.credit-offer__row + .credit-offer__row {
  margin-top: 10px;
}

.credit-offer__notice {
  margin-top: 26px;
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
  color: #737373;
}

.header-dropdown-search {
  position: absolute;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  opacity: 0;
  transform: translateY(-10000px);
  transition: opacity .3s ease-in;
}
.header-dropdown-search--visible {
  transform: unset;
  opacity: 1;
}

.search-form__group {
  position: relative;
}

.search-form__icon {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url("./../img/header/header-bottom/icon_search.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search-form__input input {
  padding-left: 70px;
  padding-right: 110px;
}

.search-form__button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.header-dropdown-mobile-nav {
  position: absolute;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  opacity: 0;
  transform: translateY(-10000px);
  transition: opacity .3s ease-in;
}
.header-dropdown-mobile-nav--visible {
  transform: unset;
  opacity: 1;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;
}

.mobile-menu__left-column {
  width: calc(3 * ((100% - 30px * 11) / 12) + 2 * 30px);
}

.mobile-menu__middle-column {
  width: calc(4 * ((100% - 30px * 11) / 12) + 3 * 30px);
}

.mobile-menu__right-column {
  width: calc(5 * ((100% - 30px * 11) / 12) + 4 * 30px);
}

.mobile-menu__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 2;
  margin-bottom: 20px;
}

.mobile-menu__list {
  font-size: 16px;
  line-height: 2;
  color: #737373;
}
.mobile-menu__list li a:hover {
  text-decoration: underline;
}

.mobile-menu__title + .mobile-menu__list {
  margin-top: 20px;
}

.mobile-menu__list + .mobile-menu__title {
  margin-top: 15px;
}

.mobile-menu__list--brands {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 350px;
  column-gap: 10px;
}

.order-popup-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(139, 139, 139, 0.69);
  overflow: hidden;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-popup {
  position: relative;
  padding: 51px 477px 43px 48px;
  width: 924px;
  background-color: #FFF;
  border-radius: 25px;
  background-image: url("./../img/popups/bg.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.order-popup::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 44px;
  width: 403px;
  height: 488px;
  background-image: url("./../img/popups/callback.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.order-popup__close-icon {
  position: absolute;
  top: -16px;
  right: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-100%);
  cursor: pointer;
}
.order-popup__close-icon:before, .order-popup__close-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #FFF;
}
.order-popup__close-icon:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.order-popup__close-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.order-popup-form {
  width: 356px;
}

.order-popup-form__title {
  margin-bottom: 35px;
}

.order-popup-form__row + .order-popup-form__row {
  margin-top: 10px;
}

.order-popup-form__notice {
  margin-top: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3;
  color: rgba(38, 38, 38, 0.34);
}

.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #EFF0F0;
  font-size: 14px;
  line-height: 1.14;
  color: #737373;
}
.header-top svg {
  fill: #737373;
}

.header-top__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__left-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.header-top__adress,
.header-top__shedule,
.header-top__whatsapp {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.header-top__whatsapp {
  cursor: pointer;
}
.header-top__whatsapp svg {
  transition: fill .2s ease-in;
}
.header-top__whatsapp:hover svg {
  fill: #39BF4C;
}

.header-middle {
  padding-top: 22px;
  padding-bottom: 13px;
}

.header-middle__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.header-middle__logo {
  width: 198px;
  height: 58px;
  object-fit: cover;
}

.header-middle__slogan {
  padding-left: 20px;
  border-left: 1px solid #C2C2C4;
  max-width: 190px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.header-middle__menu {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 14px;
  line-height: 1.14;
}
.header-middle__menu li {
  transition: color .2s ease-in;
}
.header-middle__menu li a:hover, .header-middle__menu li a:active {
  color: #CA0100;
  text-decoration: underline;
}

.header-middle__phones {
  text-align: right;
  flex-shrink: 0;
}

.header-middle__phone-main {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.header-middle__phone-main span {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #CA0100;
}
.header-middle__phone-main svg {
  fill: #FFF;
}

.header-middle__phone-add {
  font-size: 16px;
  line-height: 1.19;
}

.header-middle__button {
  width: 210px;
}

.header-bottom {
  padding-top: 13px;
  padding-bottom: 29px;
}

.header-bottom__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__menu {
  display: flex;
  align-items: center;
  column-gap: 108px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}
.header-bottom__menu li:hover,
.header-bottom__menu li:active {
  color: #CA0100;
  transition: color .2s ease-in;
}
.header-bottom__menu li:not(:last-child) {
  position: relative;
}
.header-bottom__menu li:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url("./../img/general/arrow-down.svg");
  transform: translate(calc(100% + 10px), -50%);
}
.header-bottom__menu li:not(:last-child):hover a::after {
  transform: translate(calc(100% + 10px), -50%) rotate(180deg);
}

.header-bottom__icons {
  display: flex;
  align-items: center;
  column-gap: 42px;
}
.header-bottom__icons li {
  position: relative;
}

.section-slider__bg {
  position: relative;
  min-height: 600px;
  background: #EFF0F0;
  border-radius: 25px;
  overflow: hidden;
}
.section-slider__bg::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1222px;
  height: 100%;
  background-image: url("./../img/section-slider/background.png");
  background-repeat: no-repeat;
  opacity: 0.58;
}
@media (max-width: 1899px) {
  .section-slider__bg::before {
    right: -235px;
  }
}
.section-slider__bg::after {
  content: "";
  position: absolute;
  right: 82px;
  bottom: 35px;
  width: 1037px;
  height: 388px;
  background-image: url("./../img/section-slider/cars.png");
  background-repeat: no-repeat;
}
@media (max-width: 1899px) {
  .section-slider__bg::after {
    right: calc(82px - 135px);
  }
}

.section-slider__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 81px;
  max-width: 730px;
  z-index: 9;
}

.section-slider__badge {
  margin-bottom: 35px;
}

.section-slider__title {
  margin-bottom: 24px;
}

.section-slider__subtitle {
  font-size: 29px;
  line-height: 1.17;
  color: #737373;
}

.section-select {
  padding-top: 38px;
}

.section-select__bg {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(239, 240, 240, 0.5);
}

.section-select__row {
  display: flex;
  justify-content: space-between;
}

.section-select__brands-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 29px;
  row-gap: 3px;
  width: 806px;
}
.section-select__brands-list li {
  width: 138px;
}
.section-select__brands-list li a {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.section-select__brands-list li a:hover {
  text-decoration: underline;
}
.section-select__brands-list li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}

.section-stock {
  padding-top: 64px;
}

.section-stock__title {
  margin-bottom: 64px;
  text-align: center;
}

.section-stock__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 31px;
}

.section-stock__button {
  width: 312px;
  margin: 0 auto;
}

.section-collections {
  padding-top: 70px;
}

.section-collections__title {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 47px;
}

.section-cta {
  padding-top: 90px;
}

.section-cta__bg {
  position: relative;
  background-color: #262626;
  border-radius: 25px;
  padding: 66px 150px 50px 477px;
  min-height: 328px;
  overflow: hidden;
}
.section-cta__bg:before {
  content: "";
  position: absolute;
  top: 94px;
  left: -127px;
  width: 881px;
  height: 134px;
  background-color: #CA0100;
  filter: blur(99.5px);
}
.section-cta__bg:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 474px;
  height: 319px;
  background-image: url("./../img/section-cta/cta.png");
  transform: translateY(-50%);
}

.cta-form {
  position: relative;
  color: #FFF;
  z-index: 9;
}

.cta-form__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.17;
  text-transform: uppercase;
}

.cta-form__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
}
.cta-form__subtitle span {
  font-weight: 700;
  color: #CA0100;
}

.cta-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 38px;
  margin-bottom: 22px;
}

.cta-form__item {
  width: calc(50% - 38px / 2);
}

.cta-form__notice {
  font-size: 13px;
  line-height: 1.3;
  color: #737373;
}

.section-offers {
  padding-top: 79px;
}

.section-offers__title {
  margin-bottom: 46px;
}

.section-credit {
  padding-top: 53px;
}

.section-credit__bg {
  padding-top: 81px;
  padding-bottom: 135px;
  background: rgba(239, 240, 240, 0.432);
  border-radius: 25px;
}

.section-credit__title {
  margin-bottom: 37px;
}

.section-credit__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 30px;
}

.section-banks {
  padding-top: 72px;
}

.section-banks__title {
  margin-bottom: 45px;
}

.section-ratings {
  padding-top: 110px;
}

.section-ratings__title {
  margin-bottom: 40px;
}

.section-ratings__site-cards {
  margin-bottom: 54px;
}
.section-ratings__site-cards .owl-carousel .owl-stage-outer {
  margin: -20px;
  padding: 20px;
}

.section-ratings__map-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-reviews {
  padding-top: 90px;
}

.section-reviews__title {
  margin-bottom: 45px;
}

.section-reviews__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section-about {
  padding-top: 110px;
  text-align: center;
}

.section-about__title {
  margin-bottom: 30px;
}

.section-about__text {
  display: inline-block;
  margin-bottom: 43px;
  max-width: 924px;
  font-size: 16px;
  line-height: 1.6;
  color: #737373;
}

.section-about__video {
  position: relative;
}
.section-about__video video {
  width: 924px;
  height: 573px;
  object-fit: cover;
}

.section-blog {
  padding-top: 110px;
}

.section-blog__title {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin-bottom: 51px;
}

.section-tabs {
  padding-top: 110px;
}

.section-tabs__list {
  display: flex;
  align-items: center;
  column-gap: 53px;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}
.section-tabs__list li[data-tab] {
  position: relative;
  cursor: pointer;
  transition: color .2s ease-in;
}
.section-tabs__list li[data-tab]:hover, .section-tabs__list li[data-tab].active {
  color: #CA0100;
}
.section-tabs__list li[data-tab]:hover::after, .section-tabs__list li[data-tab].active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 3px;
  background-color: #CA0100;
}

.section-tabs__item-title {
  margin-bottom: 20px;
}

.section-tabs__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #737373;
}
.section-tabs__item-text p + p {
  margin-top: 10px;
}

.section-map {
  padding-top: 105px;
  margin-bottom: -100px;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.map-info {
  position: absolute;
  top: 107px;
  right: 235px;
  padding: 40px 30px;
  width: 400px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 0px 30px rgba(38, 38, 38, 0.15);
}

.map-info__content {
  font-size: 16px;
  line-height: 1.19;
}
.map-info__content li {
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
  margin-bottom: 12px;
}

.footer-top__bg {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #262626;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 0;
}

.footer-top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-top__menu li {
  transition: color .2s ease-in;
}
.footer-top__menu li:hover {
  color: #CA0100;
}

.footer-middle__bg {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #262626;
}

.footer-middle__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-middle__catalog {
  width: 735px;
}

.footer-middle__title {
  position: relative;
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFF;
}
.footer-middle__title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 34px;
  height: 2px;
  background-color: #CA0100;
}

.footer-middle__brands-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 15px;
  max-height: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  text-transform: capitalize;
  color: #737373;
}
.footer-middle__brands-list li {
  display: block;
  width: 110px;
}
.footer-middle__brands-list li a {
  text-decoration: underline;
}

.footer-middle__credit {
  width: 210px;
}

.footer-middle__credit-menu {
  font-size: 16px;
  line-height: 2;
  color: #737373;
}
.footer-middle__credit-menu li a {
  text-decoration: underline;
}

.footer-middle__contacts {
  width: 326px;
  font-size: 16px;
  line-height: 1.19;
  color: #737373;
}

.footer-middle__contacts-list {
  margin-bottom: 20px;
}
.footer-middle__contacts-list li {
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
}
.footer-middle__contacts-list li:not(:last-child) {
  margin-bottom: 15px;
}

.footer-bottom__bg {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #1B1B1B;
}

.footer-bottom__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__copyright {
  width: 460px;
}
.footer-bottom__copyright span {
  font-size: 18px;
  line-height: 1.4;
  color: #FFFFFF;
}
.footer-bottom__copyright .footer-bottom__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  font-size: 14px;
  line-height: 1.4;
  text-decoration-line: underline;
  color: rgba(115, 115, 115, 0.5);
}

.footer-bottom__notice {
  width: 590px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(115, 115, 115, 0.5);
}

.footer-bottom__image img {
  width: 218px;
  height: 73px;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
