.main-menu {
	position: absolute;
	padding-top: 28px;
	padding-bottom: 28px;
	width: 100%;
	background-color: #fff;
	opacity: 0;
	transform: translateY(-10000px);
	transition: opacity .3s ease-in;
	z-index: 99;

	&--visible {
		transform: unset;
		opacity: 1;
	}

	/* Tablet */
	@media (max-width: 1429px) {
		padding-top: 14px;
	}
}

// desktop-menu 

.desktop-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 30px;

	/* Mobile */
	@media (max-width: 767px) {
		display: none;
	}
}

.desktop-menu__left {
	width: calc(3 * ((100% - 30px * 11) / 12) + 2 * 30px);

	/* Tablet */
	@media (max-width: 1429px) {
		width: calc((100% - 30px) * 0.4);
	}
}

.desktop-menu__middle {
	width: calc(4 * ((100% - 30px * 11) / 12) + 3 * 30px);
	
	/* Tablet */
	@media (max-width: 1429px) {
		width: calc((100% - 30px) * 0.6);
	}
}

.desktop-menu__right {
	width: calc(5 * ((100% - 30px * 11) / 12) + 4 * 30px);

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}
}

.desktop-menu__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 2;
	margin-bottom: 20px;

	/* Tablet */
	@media (max-width: 1429px) {
		font-size: 20px;
		margin-bottom: 0;
	}
}

.desktop-menu__list {
	font-size: 16px;
	line-height: 2;
	color: $gray-color;

	/* Tablet */
	@media (max-width: 1429px) {
		font-size: 14px;
	}

	li a:hover {
		text-decoration: underline;
	}
}

.desktop-menu__title+.desktop-menu__list {
	margin-top: 20px;

	/* Tablet */
	@media (max-width: 1429px) {
		margin-top: 0;
	}
}

.desktop-menu__list+.desktop-menu__title {
	margin-top: 15px;
	
	/* Tablet */
	@media (max-width: 1429px) {
		margin-top: 0;
	}
}

.desktop-menu__list--brands {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 350px;
	column-gap: 10px;
}

// mobile-menu 

.mobile-menu {
	display: none;

	/* Mobile */
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		row-gap: 14px;
	}
}

.mobile-menu__list {
	font-weight: 700;
	font-size: 14px;
	line-height: 2.43;
	text-transform: uppercase;

	&--primary {

		li {
			position: relative;
			padding-left: 28px;
		}

		li a::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 7px;
			height: 12px;
			background-image: url('./../../../img/general/arrow-right.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&--secondary {
		line-height: 1.8;
		text-transform: none;
	}
}

.mobile-menu__info {
	padding: 24px 20px;
	border-radius: 25px;
	background-color: #EFF0F0;

	font-size: 16px;
	line-height: 1.19;

	/* Tablet */
	@media (max-width: 1429px) {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 16px;
	}

	li {
		display: flex;
		align-items: flex-start;
		column-gap: 12px;

		&:not(:last-child) {
			margin-bottom: 16px;

			/* Tablet */
			@media (max-width: 1429px) {
				margin-bottom: 8px;
			}
		}
	}
}

.mobile-menu__phone-links {
	display: flex;
	flex-direction: column;
}