.header-top {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #EFF0F0;
	font-size: 14px;
	line-height: 1.14;
	color: $gray-color;

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}

	/* Mobile */
	@media (max-width: 767px) {
		display: block;
		padding-top: 5px;
		padding-bottom: 4px;
	}

	svg {
		fill: #737373;
	}
}

.header-top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-top__left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 49%;
}

.header-top__adress,
.header-top__shedule {
	display: flex;
	align-items: center;
	column-gap: 7px;

	/* Mobile */
	@media (max-width: 767px) {
		display: none;
	}
}

.header-top__phone {
	display: none;
	font-weight: 700;
	font-size: 11px;
	line-height: 1.18;
	color: #262626;

	/* Mobile */
	@media (max-width: 767px) {
		display: block;
	}
}

.header-top__whatsapp {
	display: flex;
	align-items: center;
	column-gap: 7px;
	text-decoration: underline;
	cursor: pointer;

	/* Mobile */
	@media (max-width: 767px) {
		display: none;
	}

	svg {
		transition: fill .2s ease-in;
	}

	&:hover {
		svg {
			fill: #39BF4C;
		}
	}
}

.header-top__callback {
	display: none;
	font-weight: 700;
	font-size: 11px;
	line-height: 1.18;
	color: #CA0100;
	cursor: pointer;

	/* Mobile */
	@media (max-width: 767px) {
		display: flex;
		align-items: center;
		column-gap: 3px;
	}

	svg {
		fill: $accent-color;
	}
}