.header-middle {
	padding-top: 22px;
	padding-bottom: 13px;

	/* Tablet */
	@media (max-width: 1429px) {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	/* Mobile */
	@media (max-width: 767px) {
		padding-top: 9px;
		padding-bottom: 11px;
	}
}

.header-middle__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-middle__left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;

	/* Mobile */
	@media (max-width: 767px) {
		column-gap: 14px;
	}
}

.header-middle__logo svg {
	width: 198px;
	height: 58px;
	object-fit: contain;

	/* Tablet */
	@media (max-width: 1429px) {
		width: 127px;
		height: 37px;
	}
}

.header-middle__slogan {
	padding-left: 20px;
	border-left: 1px solid #C2C2C4;
	max-width: 190px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}
}

.header-middle__menu {
	display: flex;
	align-items: center;
	column-gap: 16px;
	font-size: 14px;
	line-height: 1.14;

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}

	li {
		transition: color .2s ease-in;

		& a:hover,
		& a:active {
			color: $accent-color;
			text-decoration: underline;
		}
	}
}

.header-middle__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;

	/* Tablet */
	@media (max-width: 1429px) {
		column-gap: 27px;
	}
}

.header-middle__phones {
	text-align: right;
	flex-shrink: 0;

	/* Mobile */
	@media (max-width: 767px) {
		display: none;
	}
}

.header-middle__phone-main {
	display: flex;
	align-items: center;
	column-gap: 12px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;

	/* Tablet */
	@media (max-width: 1429px) {
		column-gap: 9px;
		font-size: 18px;
		line-height: 1.17;
	}

	span {
		display: inline-block;
		width: 31px;
		height: 31px;
		border-radius: 50%;
		background-color: $accent-color;

		/* Tablet */
		@media (max-width: 1429px) {
			width: 20px;
			height: 20px;
		}
	}

	svg {
		fill: #FFF;
	}
}

.header-middle__phone-add {
	font-size: 16px;
	line-height: 1.19;

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}
}

.header-middle__button {
	width: 210px;

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}
}

.header-middle__icons {
	display: none;

	/* Tablet */
	@media (max-width: 1429px) {
		display: flex;
		align-items: center;
		column-gap: 26px;

		li {
			position: relative;
		}

		svg {
			stroke-width: 3;
		}
	}


}