.header-dropdown-mobile-nav  {
	position: absolute;
	padding-top: 28px;
	padding-bottom: 28px;
	width: 100%;
	background-color: #fff;
	z-index: 99;
	opacity: 0;
	transform: translateY(-10000px);
	transition: opacity .3s ease-in;

	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}

	&--visible {
		transform: unset;
		opacity: 1;
	}
}

.mobile-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 30px;
}

.mobile-menu__left-column {
	width: calc(3 * ((100% - 30px * 11) / 12) + 2 * 30px);
}

.mobile-menu__middle-column {
	width: calc(4 * ((100% - 30px * 11) / 12) + 3 * 30px);
}

.mobile-menu__right-column {
	width: calc(5 * ((100% - 30px * 11) / 12) + 4 * 30px);
}

.mobile-menu__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 2;
	margin-bottom: 20px;
}

.mobile-menu__list {
	font-size: 16px;
	line-height: 2;
	color: $gray-color;

	li a:hover {
		text-decoration: underline;
	}
}

.mobile-menu__title+.mobile-menu__list {
	margin-top: 20px;
}

.mobile-menu__list+.mobile-menu__title {
	margin-top: 15px;
}

.mobile-menu__list--brands {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 350px;
	column-gap: 10px;
}