// .footer-bottom {}

.footer-bottom__bg {
	padding-top: 33px;
	padding-bottom: 33px;
	background-color: #1B1B1B;
}

.footer-bottom__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom__copyright {
	width: 460px;

	span {
		font-size: 18px;
		line-height: 1.4;
		color: #FFFFFF;
	}

	.footer-bottom__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 22px;

		font-size: 14px;
		line-height: 1.4;
		text-decoration-line: underline;
		color: rgba(115, 115, 115, 0.5);
	}
}

.footer-bottom__notice {
	width: 590px;
	font-size: 14px;
	line-height: 1.4;
	color: rgba(115, 115, 115, 0.5);
}

.footer-bottom__image {
	img {
		width: 218px;
		height: 73px;
		object-fit: cover;
	}
}