.credit-offer {
	width: 447px;
	padding: 41px 30px 78px;
	background-color: #FFF;
	border-radius: 25px;

	@media (max-width: 1899px) {
		width: 425px;
	}

	/* Tablet */
	@media (max-width: 1429px) {
		padding: 25px 0 0;
		width: 100%;
		background-color: transparent;
	}

	/* Mobile */
	@media (max-width: 767px) {
		padding-top: 31px;
	}
}

.credit-offer__title {
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.13;

	/* Tablet */
	@media (max-width: 1429px) {
		margin-bottom: 17px;
		font-size: 20px;
	}

	/* Mobile */
	@media (max-width: 767px) {
		margin-bottom: 23px;
	}

	span {
		display: block;
		color: $accent-color;

		/* Tablet */
		@media (max-width: 1429px) {
			display: inline-block;
		}
	}
}

.credit-offer__group {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-bottom: 23px;

	/* Tablet */
	@media (max-width: 1429px) {
		flex-direction: row;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 10px;

		.credit-offer__row {
			width: calc((100% - 20px) / 3);
		}

		.input {
			background-color: #FFF;
		}

		.button {
			font-size: 16px;
			line-height: 1.17;
		}
	}

	/* Mobile */
	@media (max-width: 767px) {
		flex-direction: column;

		&>.credit-offer__row {
			width: 100%;
		}
	}
}

.credit-offer__notice {
	font-size: 13px;
	line-height: 1.3;
	text-align: center;
	color: $gray-color;

	/* Tablet */
	@media (max-width: 1429px) {
		text-align: left;
		font-size: 10px;
	}
}