.big-slider {
	position: relative;
}

.big-slider__btn {
	position: absolute;
	top: 50%;
	left: 58px;
	transform: translateY(-50%);
	z-index: 999;

	/* Desktop small */
	@media (max-width: 1899px) {
		display: none;
	}

	svg.big-slider-arrow {
		fill: $black-color;
	}

	&:hover {
		svg.big-slider-arrow {
			fill-opacity: 0.5;
		}
	}
}