.brands-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 29px;
	row-gap: 3px;
	width: 100%;
	font-size: 14px;

	li {
		width: 138px;

		a {
			display: flex;
			align-items: center;
			column-gap: 10px;

			&:hover {
				text-decoration: underline;
			}
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 38px;
			height: 38px;
		}
	}
}