.header-dropdown {
	opacity: 0;
	transform: translateY(-1000px);
	position: absolute;
	padding-top: 28px;
	padding-bottom: 28px;
	width: 100%;
	background-color: #fff;
	z-index: 99;
	transition: opacity .8s ease-in;

	&--visible {
		transform: unset;
		opacity: 1;
	}
}

.search-form__group {
	position: relative;
}

.search-form__icon {
	position: absolute;
	left: 28px;
	top: 50%;
	transform: translateY(-50%);
	width: 22px;
	height: 22px;
	background-image: url('./../img/header/header-bottom/icon_search.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.search-form__input input{
	padding-left: 70px;
	padding-right: 110px;
}

.search-form__button {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
