.offer-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 29px 25px 25px;
	width: 447px;
	height: 196px;
	border-radius: 25px;
	background: #EFF0F0;
	overflow: hidden;
}

.offer-card__content {
	z-index: 9;

	.offer-card__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.15;
	}

	.offer-card__description {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.14;
		color: $gray-color;
	}
}

.offer-card__button {
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	border-radius: 6px;
	background-color: rgba(194, 194, 196, 0.5);
	font-size: 14px;
	line-height: 40px;
}

.offer-card__background {
	position: absolute;
	top: 0;
	right: 0;
}