.owl-theme .owl-dots {
	position: absolute;
	bottom: 80px;
	left: 235px;

	/* Desktop small */
	@media (max-width: 1899px) {
		left: 35px;
	}

	/* Tablet */
	@media (max-width: 1429px) {
		bottom: 31px;
	}

	/* Mobile */
	@media (max-width: 767px) {
		position: static;
		bottom: unset;
		left: unset;
		margin-top: 10px;
		text-align: center;
	}
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.owl-theme .owl-dots .owl-dot span {
	display: block;
	margin: 5px 7px;
	width: 10px;
	height: 10px;
	background-color: #D6D6D6;
	border-radius: 30px;
	transition: opacity 200ms ease;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #FFF;
	outline: 5px solid rgba(202, 0, 0, 0.6);
}