.h1 {
	font-weight: 700;
	font-size: 60px;
	line-height: 1.17;
}

.h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.18;
}

.h3 {
	font-weight: 900;
	font-size: 24px;
	line-height: 1.17;
}

.popup-title {
	font-weight: 700;
	font-size: 26px;
	line-height: 1.15;
}