.section-loan {
	margin: 0 auto;
	padding-top: 81px;
	padding-bottom: 135px;
	width: 1870px;
	height: 785px;
	background: rgba(239, 240, 240, 0.432);
	border-radius: 25px;
}

.section-loan__title {
	margin-bottom: 37px;
}

.section-loan__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 30px;
}

.credit-calc {}

.credit-calc__inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	padding: 23px;
	width: 923px;
	height: 92px;
	background: rgba(194, 194, 196, 0.5);
	border-radius: 25px;
}

.credit-calc__input {
	padding-left: 20px;
	padding-right: 20px;
	width: 280px;
	height: 46px;
	background: #FFF;
	border: 1px solid #E1E1E1;
	border-radius: 6px;
	text-align-last: left;
	font-size: 16px;
	line-height: 46px;
}

.credit-calc__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	column-gap: 52px;
}

.credit-calc__left-column {
	width: 424px;
}

.credit-calc__img {
	margin-bottom: 25px;

	img {
		width: 100%;
		height: 243px;
		object-fit: cover;
	}
}

.credit-calc__range-values {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 18px;

	span {
		display: inline-block;
		width: 78px;
		height: 23px;
		background-color: #ADADB0;
		border-radius: 30px;
		font-weight: 900;
		font-size: 16px;
		line-height: 23px;
		text-align: center;
		color: #FFF;
	}
}

.credit-calc__range-labels {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 9px;
	margin-bottom: 10px;

	span {
		font-size: 16px;
		line-height: 1.19;
		color: #ADADB0;

		&:first-child {
			text-align-last: left;
		}

		&:last-child {
			text-align-last: right;
		}
	}
}

.credit-calc__right-column {
	width: 446px;
}

.credit-calc__range {

	.credit-calc__range-label {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 16px;

		span:first-child {
			font-size: 16px;
			line-height: 1.19;
		}

		span:last-child {
			font-size: 36px;
			line-height: 1.17;
		}
	}

	.credit-calc__range-strip {
		margin-bottom: 13px;
		border: 6px solid #E1E1E1;
	}

	.credit-calc__range-scale {
		margin-bottom: 19px;
	}

	.credit-calc__range-scale-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		font-size: 11px;
		line-height: 1.18;
		color: #ADADB0;
	}

	li {
		position: relative;
		padding-top: 13px;
	}
}

.credit-calc__fee {
	display: flex;
	justify-content: space-between;
	align-items: center;

	label {
		max-width: 150px;
		font-size: 16px;
		line-height: 1.19;
	}

	input {
		padding-left: 25px;
		padding-right: 25px;
		width: 250px;
		height: 65px;
		background-color: #FFFFFF;
		border: 1px solid #E1E1E1;
		border-radius: 6px;
		font-size: 16px;
		line-height: 1.19;
		color: #ADADB0;

		&::placeholder {
			font-size: 16px;
			line-height: 1.19;
			color: #ADADB0;
		}
	}
}


.credit-form {
	width: 447px;
	padding: 41px 30px 78px;
	background: #FFF;
	border-radius: 25px;
}

.credit-form__title {
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.13;

	span {
		display: block;
		color: $accent-color;
	}
}

.credit-form__input {
	margin-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
	height: 65px;
	background-color: #EFF0F0;
	border: 1px solid #E1E1E1;
	border-radius: 6px;
	font-size: 16px;
	line-height: 1.19;
}

.credit-form__notice {
	margin-top: 26px;
	font-size: 13px;
	line-height: 1.3;
	text-align: center;
	color: $gray-color;
}