.section-stock {
	padding-top: 64px;
}

.section-stock__title {
	margin-bottom: 64px;
	text-align: center;
}

.section-stock__cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	margin-bottom: 31px;
}

.section-stock__button {
	width: 312px;
	margin: 0 auto;
}
