.section-reviews {
	padding-top: 45px;
	padding-bottom: 55px;
}

.section-reviews__title {
	margin-bottom: 45px;
}

.section-reviews__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
