.section-offers {
	padding-top: 79px;
	padding-bottom: 53px;
}

.section-offers__title {
	margin-bottom: 46px;
}

.section-offers__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 29px;
}