.section-select {
	margin: 0 auto;
	padding: 22px 30px;
	width: 1400px;
	border-radius: 11px;
	background-color: rgba(239, 240, 240, 0.5);
}

.section-select__row {
	display: flex;
	justify-content: space-between;
}
