.section-select {
	padding-top: 38px;

	/* Tablet */
	@media (max-width: 1429px) {
		padding-top: 28px;
	}
}

.section-select__bg {
	padding: 20px 30px;
	border-radius: 10px;
	background-color: rgba(239, 240, 240, 0.5);

	/* Tablet */
	@media (max-width: 1429px) {
		padding: 35px;
	}
}

.section-select__row {
	display: flex;
	justify-content: space-between;
}

.section-select__brands-list {
	width: 806px;
	
	/* Tablet */
	@media (max-width: 1429px) {
		display: none;
	}
}