.section-banks {
	padding-top: 72px;
	padding-bottom: 55px;
}

.section-banks__title {
	margin-bottom: 45px;
}

.section-banks__cards {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}