.section-cta {
	padding-top: 90px;
}

.section-cta__bg {
	position: relative;
	background-color: #262626;
	border-radius: 25px;
	padding: 66px 150px 50px 477px;
	min-height: 328px;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 94px;
		left: -127px;
		width: 881px;
		height: 134px;
		background-color: $accent-color;
		filter: blur(99.5px);
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0px;
		width: 474px;
		height: 319px;
		background-image: url('./../img/section-cta/cta.png');
		transform: translateY(-50%);
	}
}

.cta-form {
	position: relative;
	color: #FFF;
	z-index: 9;
}

.cta-form__title {
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 30px;
	line-height: 1.17;
	text-transform: uppercase;
}

.cta-form__subtitle {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 1.15;

	span {
		font-weight: 700;
		color: $accent-color;
	}
}

.cta-form__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 38px;
	margin-bottom: 22px;
}

.cta-form__item {
	width: calc(50% - 38px / 2)
}


.cta-form__notice {
	font-size: 13px;
	line-height: 1.3;
	color: $gray-color;
}